

body{
    background-color: black;


    h1{
        color: rgb(10, 114, 10);
    }
}
.heart {
    width: 200px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.705);
    border-radius: 70%;
    position: center;
    animation: pulse 1s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(20, 10, 10, 0.7);
    }
    60% {
      transform: scale(1.2);
      box-shadow: 0 0 0 10px rgba(153, 116, 116, 0.2);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(5, 3, 3, 0.7);
    }
  }