body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-image: url(images\freestocks-twVS-YjQn9Y-unsplash.jpg);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff6f61;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 10px;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
}
