/* applies to the whole webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* applies to the body of the webpage*/
body{
    background-color: rgb(249, 251, 250);
}

/* applies to the headings of the webpage*/
h1{
    color: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
   border: 0ch; 
}
.navi{
    background-color: rgb(252, 252, 252);
  color: white;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
}